@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-silver: #ECECEC;
  --color-lightsilver: #ECECEC80;
  --color-purple: #4C0E5F;
  --color-green: #42A742;
  --color-blue: #0067AF;
  --color-yellow: #FFD502;
  --color-red: #ED342A;
  --color-black: #000000;
  --color-river: #94DCFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
